<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Alunos e Professores</title>
    <link rel="stylesheet" href="css/homeADM.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">LOGO</div>

            <div class="header-icons">

                <div class="icon">
                    <i class="fa-solid fa-circle-info"></i> Ajuda
                </div>

                <div class="icon">
                    <i class="fa-solid fa-right-from-bracket"></i>Sair
                </div>
            </div>

        </header>
        <main>

            <div class="button-container">

                <button class="btn">
                    <i class="fa-solid fa-users"></i> REGISTRAR ALUNO
                </button>

                <button class="btn">
                    <i class="fa-solid fa-users"></i> REGISTRAR PROFESSOR
                </button>

                <button class="btn"> 
                    <i class="fa-solid fa-user-gear"></i> GERENCIAR ALUNO
                </button>

                <button class="btn">
                    <i class="fa-solid fa-user-gear"></i> GERENCIAR PROFESSOR
                </button>

                <button class="btn">
                    <img src="https://img.icons8.com/?size=100&id=3sGOUDo9nJ4k&format=png&color=000000" alt="">
                    Visualizar Dados ( Professor Power BI )</button>

                <button class="btn">
                    <img src="https://img.icons8.com/?size=100&id=3sGOUDo9nJ4k&format=png&color=000000" alt="">
                    Visualizar Dados Alunos ( Power BI )</button>

                <button class="btn">
                    <i class="fa-solid fa-computer"></i> Demandas para TI
                </button>

            </div>
        </main>
    </div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</html>
