<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de gestão de alunos e professores">
    <title>Gestão de Alunos e Professores</title>
    <link rel="stylesheet" href="css/homeADM.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="container"
        <header>
            <div class="logo">LOGO</div>
            <h1>LOGO DA ACADEMIA</h1>
            <nav class="header-icons">
                <a href="#" class="icon" aria-label="Ajuda">
                    <i class="fa-solid fa-circle-info"></i> Ajuda
                </a>
                <a href="#" class="icon" aria-label="Sair">
                    <i class="fa-solid fa-right-from-bracket"></i> Sair
                </a>
            </nav>
        </header>

        <!-- Conteúdo principal -->

        <main>
            <div class="button-container">
                <a href="registrarAluno.html" class="btn">
                    <i class="fa-solid fa-users"></i> Registrar Aluno
                </a>
                <a href="registrarProfessor.html" class="btn">
                    <i class="fa-solid fa-users"></i> Registrar Professor
                </a>
                <a href="gerenciarAluno.html" class="btn">
                    <i class="fa-solid fa-user-gear"></i> Gerenciar Aluno
                </a>
                <a href="gerenciarProfessor.html" class="btn">
                    <i class="fa-solid fa-user-gear"></i> Gerenciar Professor
                </a>
                <a href="demandaTI.html" class="btn">
                    <i class="fa-solid fa-computer"></i> Demandas para TI
                </a>
            </div>

            <div class="button-container">
                <button class="btn">
                    <img src="https://img.icons8.com/?size=100&id=3sGOUDo9nJ4k&format=png&color=000000" alt="Icone Power BI">
                    Visualizar Dados (Professor Power BI)
                </button>
                <button class="btn">
                    <img src="https://img.icons8.com/?size=100&id=3sGOUDo9nJ4k&format=png&color=000000" alt="Icone Power BI">
                    Visualizar Dados Alunos (Power BI)
                </button>
            </div>
        </main>

        <!-- Rodapé -->
        <footer class="footer">
            <p>&copy; 2025 - Sistema de Gestão.</p>
        </footer>
    </div>
</body>
</html>
